@media creen and (max-width:1000px){
    img{
        height: 400px;
    }
}

@media creen and (max-width:800){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2 {
        font-size: 25px;
    }
}

@media creen and (max-width:700){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2 {
        font-size: 15px;
    }
}

@media creen and (max-width:450){
    .container {
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .textos h1{
        width: 100%;
        text-align: center;
    }

    .textos h1{
        font-size: 60px;
    }

    .textos h2 {
        font-size: 15px;
    }
}


@media creen and (max-width:340){
    img{
        height: 160px;
    }
    .textos h1{
        font-size: 35px;
    }

    .textos a{
        width: 120px;
    }

    .textos h2 {
        font-size: 15px;
    }
